@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #007aff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}
